nav,
.tab-content {
    margin-left: 30%;
    margin-right: 30%;
}

.nav-tabs .nav-link {
    padding: 0.25rem 2rem;
    margin: 0.25rem;

}

.nav-tabs .nav-link.active {
    background-color: rgb(255, 157, 9);
    color: black;
    border-color: white;
}

input{
    width: 100%;
}
footer{
    margin-top: 10%;
}