nav,.tab-content {
    margin-left: 30%;
    margin-right: 25%;
    background-color: rgb(243, 243, 222);
}

.nav-tabs .nav-link {
    padding: 0.25rem 3.4rem;
    margin-left: 0.80rem;
    margin-left: 10px;


}

.nav-tabs .nav-link.active {
    background-color: rgba(253, 190, 95, 0.945);
    color: black;
    border-color: white;
}

input{
    width: 100%;
}
footer{
    margin-top: 10%;
}
.answ1,.answ2,.answ3{
    display: none;
    height:20%;
    margin-top:10px;
    margin-left: 15%;
    padding: 5%;
    margin-right: 15%;
    box-shadow: rgb(218, 89, 89);
    border:2px solid rgb(247, 237, 133);
    background-color: rgb(255, 255, 255);
}
