nav,.tab-content {
    margin-left: 30%;
    margin-right: 25%;
    background-color: rgb(243, 243, 222);
}

.nav-tabs .nav-link {
    padding: 0.25rem 3.4rem;
    margin-left: 0.80rem;
    margin-left: 10px;


}

.nav-tabs .nav-link.active {
    background-color: rgb(255, 157, 9);
    color: black;
    border-color: white;
}

input{
    width: 100%;
}
footer{
    margin-top: 10%;
}
